{% extends 'login_nav.html' %}
{% load static %}

{% block extra_css %}

<style>
    .category-card {
            /* width: 350px;
            height: 400px; */
            border: 1px solid #eee;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 2px 8px rgba(0,0,0,0.05);
            transition: transform 0.7s;
            text-align: center;
        }
        .category-card:hover {
            transform: translateY(-7px);
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
        .category-card img {
            width: 250px;
            height: 300px;
            object-fit: cover;
        }
        .category-name {
            font-size: 18px;
            font-weight: 600;
            padding: 15px 10px;
            color: #333;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            max-width: 100%;
            cursor: pointer;
        }
        .caption1-1{
          top: 150px;              
          bottom: auto;            
          left: 250px;              
          right: auto;             
          text-align:center;
          font-family: Georgia, 'Times New Roman', Times, serif;
          line-height: -10;

}
.caption1-2{
          top: 120px;              
          bottom: auto;            
          left: 1100px;              
          right: auto;             
          text-align:center;
          font-family: Georgia, 'Times New Roman', Times, serif;
          line-height: -10;

}
.caption2{
          left: 460px;                       
          right: auto;             
          text-align:center;
          font-family: Georgia, 'Times New Roman', Times, serif;
          line-height: -10;

}
.buttonshop{
            align-items: center;
            appearance: none;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            border: 0;
            border-radius: 6px;
            box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
            box-sizing: border-box;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            font-family: "JetBrains Mono",monospace;
            height: 48px;
            justify-content: center;
            line-height: 1;
            list-style: none;
            overflow: hidden;
            left: 100px;
            position: relative;
            text-align: left;
            text-decoration: none;
            transition: box-shadow .15s,transform .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            white-space: nowrap;
            will-change: box-shadow,transform;
            font-size: 18px;
            margin-bottom: 270px;
            margin-right: 250px;
          }
          
          .buttonshop:focus {
            box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
          }
          
          .buttonshop:hover {
            box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
            transform: translateY(-2px);
          }
          
          .buttonshop:active {
            box-shadow: #3c4fe0 0 3px 7px inset;
            transform: translateY(2px);
          }
        /* .category-card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        } */

</style>
{% endblock %}

{% block content %}
<div id="product-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#product-carousel" data-slide-to="1"></li>
    <li data-target="#product-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'carousel_img/slide1.jpg' %}" alt="Slide 1" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption1-1">
        <h3 style="font-size: 30px;">Creating</h3>
        <h1 style="font-weight: bold; font-size: 60px;">Styles</h1>
      </div>
      <div class="carousel-caption caption1-2">
        <h3 style="font-size: 40px;">For</h3>
        <h1 style="font-size: 20px;">Every</h1>
        <h1 style="font-weight: bold; font-size: 60px;">Women</h1>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel_img/slide2.jpg' %}" alt="Slide 2" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption2">
        <h3>Scroll Through Our Categories Specially Curated For You</h3>
        <a href=""><button style="background-color: rgb(88, 18, 4); color: white; text-decoration: none; border: 0; border-radius: 25px; height: 35px; width: 80px; display: block; margin: auto;">Categories</button></a>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel_img/slide3.jpg' %}" alt="Slide 3" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption3">
        <a href=""><button class="buttonshop" role="button">Shop Now</button></a>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#product-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#product-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container my-5">
    <h2 class="text-center mb-4">Newly Launched</h2>
    <div class="row g-2">
        {% for product in products %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ product.productimage_set.first.Image.url }}" alt="{{ product.Name }}">
                <div class="category-name">{{ product.Name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">Top Categories</h2>
    <div class="row g-2">
        {% for category in categories %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ category.Category_Image.url }}" alt="{{ category.Category_Name }}">
                <div class="category-name">{{ category.Category_Name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">Our Best Sellers</h2>
    <div class="row g-2">
        {% for best_seller in best_sellers %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ best_seller.productimage_set.first.Image.url }}" alt="{{ best_seller.Name }}">
                <div class="category-name">{{ best_seller.Name }}</div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}