{% extends 'home_nav.html' %}
{% load static %}

{% block extra_css %}

<style>
  .category-card {
          /* width: 350px;
          height: 400px; */
          border: 1px solid #eee;
          border-radius: 12px;
          overflow: hidden;
          box-shadow: 0 2px 8px rgba(0,0,0,0.05);
          transition: transform 0.7s;
          text-align: center;
          margin-bottom: 30px;
      }
      .category-card:hover {
          transform: translateY(-7px);
          box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      }
      .category-card img {
          width: 250px;
          height: 300px;
          object-fit: cover;
      }
      .category-name {
          font-size: 18px;
          font-weight: 600;
          padding: 15px 10px;
          color: #333;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;
          max-width: 100%;
          cursor: pointer;
      }
      .caption1-1{
        top: 150px;              
        bottom: auto;            
        left: 250px;              
        right: auto;             
        text-align:center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: -10;

}
.caption1-2{
        top: 120px;              
        bottom: auto;            
        left: 1100px;              
        right: auto;             
        text-align:center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: -10;

}
.caption2{
        left: 460px;                       
        right: auto;             
        text-align:center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: -10;
}
.caption3-1{
        top: 100px;              
        bottom: auto;            
        left: 250px;              
        right: auto;             
        /* text-align:center; */
        font-family: Georgia, 'Times New Roman', Times, serif;
        line-height: -10;
        padding-left: 90px;
        /* margin-bottom: 200px; */
}
.buttonshop{
        background-color: initial;
        background-image: linear-gradient(-180deg, #e8ba13, #971602);
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
        height: 37px;
        line-height: 40px;
        outline: 0;
        overflow: hidden;
        padding-bottom: 15px;
        padding-top: 0px;
        pointer-events: auto;
        position: relative;
        text-align: center;
        touch-action: manipulation;
        user-select: none;
        -webkit-user-select: none;
        vertical-align: top;
        white-space: nowrap;
        width: 100px;
        z-index: 9;
        border: 0;
        transition: box-shadow .2s;
        margin-bottom: 245px;
    }

    .buttonshop:hover {
        box-shadow: rgba(90, 10, 2, 0.5) 0 3px 8px;
    }
        .category-btn {
        padding: 10px 20px;
        background: rgba(233, 231, 227, 0.8);
        color: maroon;
        font-weight: bold;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
        margin-bottom: 20px;
      }

      .category-btn:hover {
        background: rgba(248, 188, 35, 1);
      }  
</style>
{% endblock %}

{% block content %}

<div id="product-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#product-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#product-carousel" data-slide-to="1"></li>
    <li data-target="#product-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="{% static 'carousel_img/slide1.jpg' %}" alt="Slide 1" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption1-1">
        <h3 style="font-size: 30px;">Creating</h3>
        <h1 style="font-weight: bold; font-size: 60px;">Styles</h1>
      </div>
      <div class="carousel-caption caption1-2">
        <h3 style="font-size: 40px;">For</h3>
        <h1 style="font-size: 20px;">Every</h1>
        <h1 style="font-weight: bold; font-size: 60px;">Women</h1>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel_img/slide2.jpg' %}" alt="Slide 2" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption2">
        <h3>Scroll Through Our Categories Specially Curated For You</h3>
        <a href="{% url 'categoryhome' %}"><button class="category-btn">Categories</button></a>
      </div>
    </div>

    <div class="item">
      <img src="{% static 'carousel_img/slide3.jpg' %}" alt="Slide 3" style="width:100%; height:500px; object-fit:cover;">
      <div class="carousel-caption caption3-1">
        <h2 style="color: orangered; margin-bottom: 0px; font-size: 60px;">Choose</h2>
        <h4 style="color:deeppink; margin-bottom: 0px; margin-top: 0px; font-size: 50px; padding-left: 150px;">Your</h4>
        <h1 style="color: blue; margin-top: -10px; font-size: 90px;">Style</h1>
      </div>
      <div class="carousel-caption caption3-2">
        <a href="{% url 'shop' %}"><button class="buttonshop" role="button">Shop Now</button></a>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#product-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#product-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container my-5">
    <h2 class="text-center mb-4" style="padding: 20px;">Newly Launched</h2>
    <div class="row g-2">
        {% for product in products %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ product.images.first.Image.url }}" alt="{{ product.Name }}">
                <a href="{% url 'productview' product.id %}"><div class="category-name">{{ product.Name }}</div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- <div>
  <div style="display: flex; width: 100%;">
  <div style="
      flex: 1;
      background-image: url('{% static 'images/1815.jpg' %}');
      background-size: cover;
      background-position: center;
      height: 350px;
  "></div>
  <div style="flex: 1; background-image: url('{% static "images/1815.jpg" %}'); background-size: cover; background-position: center; height: 350px;"></div>
  <div style="flex: 1; background-image: url('{% static 'images/18151.jpg' %}'); background-size: cover; background-position: center; height: 350px;"></div>

  <p>Fashions Fade,
     Style 
     is Eternal
  </p>
</div> -->

<div class="container my-5">
    <h2 class="text-center mb-4" style="padding: 20px;">Top Categories</h2>
    <div class="row g-2">
        {% for category in categories %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ category.Category_Image.url }}" alt="{{ category.Category_Name }}">
                <a href="{% url 'shopbycategory' category.pk %}"><div class="category-name">{{ category.Category_Name }}</div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div>
  <img src="{% static 'images/meroon_flower.jpg' %}"style="width: 100%; height: 350px; " alt="">
</div>

<div class="container my-5">
    <h2 class="text-center mb-4" style="padding: 20px;">Our Best Sellers</h2>
    <div class="row g-2">
        {% for best_seller in best_sellers %}
        <div class="col-md-3">
            <div class="category-card">
                <img src="{{ best_seller.images.first.Image.url }}" alt="{{ best_seller.Name }}">
                <a href="{% url 'productview' best_seller.id %}"><div class="category-name">{{ best_seller.Name }}</div></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}