{% extends 'login_nav.html' %}

{% block extra_css %}
<style>
    *{
        padding: 0;
        margin: 0;
    }
    .main{
        flex: content;
        justify-items: center;
    }
    .main1{
       align-content: center; 
       color: midnightblue;
       padding-top: 100px;
       margin-bottom: 50px;
       font-size: 100px;
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .main2{
        
        padding: 10px;
        background-color: white;
        border-radius: 7px;
        
    }
    .main2 form{
        width: 310px;
        height: 200px;
        padding: 15px;
        border-radius: 10px;
    }
    form{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    form label{
        margin-left: 10px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
    }
    form input{
        margin-top: 25px;
        height: 30px;
        width: 220px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: small;
    }
    button{
        display: block;
        margin: auto;
        width: 90px;
        height: 30px;
        margin-top: 23px;
        background-color: blue;
        color: white;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main1">
            <h1>Forgot Password</h1>
        </div>
        <div class="main2">
            <form action="{% url 'verifyotp' %}" method="post">
                {% csrf_token %}
                <div>
                    <label for="">Email&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="email" placeholder="&nbsp;Enter your email" value="{{email}}" readonly>
                </div>
                <div>
                    <label for="">OTP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                    <input type="text" name="otp" placeholder="Enter the OTP">
                </div>
                <div>
                    <input type="text" name="otpold" hidden value="{{otp}}">
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}